.advantages {
   background-color: #222224;
   &__items {
      padding: 103px 0;
      max-width: 360px;
      img {
         margin: 0 auto;
         display: block;
         padding-bottom: 12px;
      }
      h3 {
         font-size: 20px;
         color: #fbfbfb;
         font-weight: normal;
         text-align: center;
         padding: 16px 0;
      }
      p {
         font-size: 14px;
         color: #fbfbfb;
         text-align: center;
         font-family: "LatoLight";
      }
      &:hover img {
         transform: rotateY(360deg);
         transition: 2s;
         perspective: 1000px;
      }
   }
   &__wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }
}

.subscribe-banner {
   background-image: url(./img/footer__bg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   &__wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      height: 448px;
   }
   &__left {
      max-width: 360px;
      img {
         display: block;
         margin: 0 auto;
      }
      p {
         color: #222224;
         font-size: 20px;
         font-weight: normal;
         text-align: center;
         padding-top: 30px;
      }
   }
   &__right {
      max-width: 557px;
      h3 {
         color: #222224;
         font-size: 24px;
         font-weight: bold;
         text-align: center;
      }
      p {
         font-size: 18px;
         color: #222224;
         font-weight: normal;
         padding-bottom: 32px;
      }
      &:hover h3 {
         transform: rotateY(360deg);
         transition: 2s;
         perspective: 1000px;
      }
   }
   &__input {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      margin: 0;
      padding: 0 22px;
      width: 256px;
      height: 49px;
      border: none;
      background-color: #e1e1e1;
      color: #222224;
      outline: none;
   }
   &__btn {
      width: 100px;
      height: 49px;
      margin: 0 0 0 -4px;
      padding: 0;
      border: none;
      background-color: #f16d7f;
      color: #ffffff;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      cursor: pointer;
   }
}

.footer {
   background-color: #222224;
   &__wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 30px 0;
      align-items: center;
   }
   &__left {
      color: #fbfbfb;
      font-size: 16px;
      font-weight: normal;
   }
   &__right {
      display: flex;
      justify-content: space-between;
      a {
         width: 32px;
         height: 32px;
         background-color: #ffffff;
         display: block;
         &:not(:last-child) {
            margin-right: 8px;
         }
      }
   }
   &__btn-facebook {
      background-image: url(./img/footer__smm__1.svg);
      background-repeat: no-repeat;
      background-position: center;
   }
   &__btn-instagram {
      background-image: url(./img/footer__smm__2.svg);
      background-repeat: no-repeat;
      background-position: center;
   }
   &__btn-pinterest {
      background-image: url(./img/footer__smm__3.svg);
      background-repeat: no-repeat;
      background-position: center;
   }
   &__btn-twitter {
      background-image: url(./img/footer__smm__4.svg);
      background-repeat: no-repeat;
      background-position: center;
   }
}
